backend/target
backend/Cargo.lock

# .NET build folders
bin/
obj/

# Visual Studio / VS Code files
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs

# Rider files
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet packages
*.nupkg
# NuGet Symbol packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target
!**/[Pp]ackages/build/

# Frontend artifacts
frontend/artifacts/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
